header > div .logo{
	min-width: 100%;
}
.directions{
	margin: 10px auto;
}
.directions .item 
{
	margin-top: 15px;
	width: 100%;
	height: auto;
	overflow: hidden;
	background-color: rgba(360,360,360,0.9);
	padding: 10px;
}
.directions .item p{
	padding-left: 20px;
	margin-top: 20px;
}
.directions .item img 
{
	width: 100%;
	height: auto;
	padding: 10px;
}
.directions .item .price1
{
	width: 30%;
	float: left;
}
.directions .item i
{
	width: 10%;
	float: left;
}
.directions .item a
{
	min-width: 15%;
}

@media screen and (max-width: 768px)
{
	.directions .item .price1 h3{
		font-size: 100%;
	}
	.directions .item i
	{
		width: 40%;
		float: left;
	}
}
